* {
    box-sizing: border-box;
    font-family: Arial, monospace, sans-serif;;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color:#c364fa;
    --secondary-color: #060669;
}

body {
    background-color: white;
    font-size: 20px;
}

header {
    color: var(--primary-color);
    display: flex; 
    flex-wrap: wrap;
    font-size: 20px;
    height: 60px;
    justify-content: space-between;
    list-style: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

.hide {
    display: none !important;
}

/*high score button */
.scoreBtn {
    border: none;
    color: var(--primary-color);
    text-decoration: none;
}

.scoreBtn:hover {
    border: none;
    color: var(--secondary-color);
}

/* code quiz container */
.code-quiz {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
}

/* start quiz button */
.quizBtn {
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: 1px;
    color: var(--primary-color);
    display: inline-block;
    font-size: 20px;
    justify-content: center;
    margin: auto;
    padding: 15px 5px 15px 5px;
    text-align: center;
    width: 20%;
}

.quizBtn:hover, #btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* respone buttons */
#btn {
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: 1px solid black;
    color: var(--primary-color);
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
    margin: auto;
    padding: 15px 5px 15px 5px;
    text-align: center; 
    width: 30%;
}

/* quiz portion */
#questions {
    display: grid;
    font-size: 20px;
    text-align: center;
}

#checkAnswer {
    color: var(--secondary-color);
    text-align: center;
}

/* score view */
.highScore {
    color: var(--primary-color);
    display: inline-block;
    font-size: 20px;
    /*height: 60px;*/
}
